<section class="feedbacks" id="feedbacks">
  <div class="container">
    <div class="feedbacks-title">
      <h2 class="section-title">Customer Feedbacks</h2>
      <p>See what our readers are saying about us!</p>
    </div>
    <div class="swiper-feedbacks">
      <ul class="swiper-wrapper-feedbacks">
        <li class="swiper-slide-feedbacks">
          <p class="paragraph feedbacks-text">Great selection, fast delivery, and beautifully packaged books. My go-to store for weekend reads!</p>
        </li>
        <li class="swiper-slide-feedbacks">Slide 2</li>
        <li class="swiper-slide-feedbacks">Slide 3</li>
      </ul>
      <div class="swiper-pagination-feedbacks">
        <span class="swiper-pagination-bullet-feedbacks swiper-pagination-bullet-active-feedbacks"></span>
        <span class="swiper-pagination-bullet-feedbacks"></span>
        <span class="swiper-pagination-bullet-feedbacks"></span>
      </svg></div>

      <div class="swiper-button-prev-feedbacks"></div>
      <div class="swiper-button-next-feedbacks"></div>
    </div>
  </div>
</section>
