<section class="feedbacks" id="feedbacks">
  <div class="container">
    <div class="feedbacks-title">
      <h2 class="section-title">Customer Feedbacks</h2>
      <p>See what our readers are saying about us!</p>
    </div>
    <div class="swiper feedbacks-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p class="paragraph">Great selection, fast delivery, and beautifully packaged books. My go-to store for weekend reads!</p>
          <div class="feedbacks-profile">
            <img src="./img/feedbacks-images/profile-pic.jpg" alt="profile-pic">
            <div class="user-info">
              <p class="username">Jane Doe</p>
              <p>Book Lover, Reader</p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">Слайд 2</div>
        <div class="swiper-slide">Слайд 3</div>
        <div class="swiper-slide">Слайд 4</div>
      </div>

      <!-- Пагінація -->
      <div class="swiper-pagination"></div>

      <!-- Кнопки -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</section>
