<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="footer-nav">
        <a href="./index.html" class="logo footer-logo">
          <svg class="logo-icon" width="83" height="21">
            <use href="./img/icons.svg#icon-book"></use>
          </svg>
        </a>

        <ul class="footer-menu">
          <li class="footer-nav-link">
            <a href="./index.html">Home</a>
          </li>
          <li class="footer-nav-link">
            <a href="#books" class="footer-nav-link">Books</a>
          </li>
          <li class="footer-nav-link">
            <a href="#feedbacks" class="footer-nav-link">Feedback</a>
          </li>
          <li class="footer-nav-link">
            <a href="#location" class="footer-nav-link">Location</a>
          </li>
        </ul>
      </div>

      <div class="join-form">
        <p class="join-title">Join</p>
        <div class="form">
          <input
            type="email"
            class="join-input"
            placeholder="Enter your email"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            title="Приклад: name@domain.com (допускається одна крапка в імені та TLD з 2–3 літер)."
            autocomplete="email"
            inputmode="email"
          />
          <button type="submit" class="join-btn">Sign Up</button>
        </div>
        <p class="required">* Required field</p>
      </div>
    </div>
    <div class="credits">
      <p class="text-muted">© 2025 Booksy. All rights reserved.</p>
    </div>
  </div>
</footer>
