<footer class="footer">
  <div class="container">
    <div class="content">
      <div class="footer-nav">
        <a href="./index.html" class="footer-logo">
          <img class="footer-logo-img" src="./img/footer-logo.svg" alt="Booksy Logo" />
        </a>
        <nav class="footer-menu">
          <a href="./index.html" class="footer-nav-link">Home</a>
          <a href="#books" class="footer-nav-link">Books</a>
          <a href="#feedbacks" class="footer-nav-link">Feedback</a>
          <a href="#location" class="footer-nav-link">Location</a>
        </nav>
      </div>
      <div class="join-form">
        <p class="join-title">Join</p>
        <div class="form">
          <input
            type="email"
            class="join-input"
            placeholder="Enter your email"
          />
          <button type="submit" class="join-btn">Sign Up</button>
        </div>
        <p class="required">* Required field</p>
      </div>
    </div>
    <hr class="divider" />
    <div class="credits">
      <p class="text-muted">© 2025 Booksy. All rights reserved.</p>
    </div>
  </div>
</footer>
