<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <!-- Лого -->
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="84" height="36">
          <use href="./img/icons.svg#icon-book"></use>
        </svg>
      </a>
      <!-- Навігація для планшета/десктопу -->
      <ul class="header-nav-list">
        <li><a class="header-nav-link" href="#books">Books</a></li>
        <li><a class="header-nav-link" href="#feedbacks">Feedbacks</a></li>
        <li><a class="header-nav-link" href="#events">Events</a></li>
        <li><a class="header-nav-link" href="#location">Location</a></li>
      </ul>

      <!-- Бургер меню для мобільних -->
      <button class="menu-open-btn" type="button" data-menu-open>
        <svg class="menu-icon" width="24" height="24">
          <use xlink:href="./img/icons.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <!-- Мобільне меню -->
  <div class="menu" data-menu hidden>
    <div class="menu-container">
      <div class="menu-header">
        <a href="./index.html" class="logo">
          <svg class="logo-icon" width="84" height="36">
            <use href="./img/icons.svg#icon-book"></use>
          </svg>
        </a>
        <button class="menu-close-btn" type="button" data-menu-close>
          <svg class="menu-close-icon" width="32" height="32">
            <use xlink:href="./img/icons.svg#icon-x"></use>
          </svg>
        </button>
      </div>
      <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li><a class="menu-nav-link" href="index.html">Home</a></li>
          <li><a class="menu-nav-link" href="#books">Books</a></li>
          <li><a class="menu-nav-link" href="#feedbacks">Feedbacks</a></li>
          <li><a class="menu-nav-link" href="#events">Events</a></li>
          <li><a class="menu-nav-link" href="#location">Location</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
