<header class="header">
  <div class="container header-container">
    <nav class="header-nav">
      <a href="./index.html" class="logo">
        <svg class="logo-icon" width="80" height="24">
          <use href="./img/icons.svg#icon-book"></use>
        </svg>
      </a>

      <ul class="header-nav-list">
        <li><a class="header-nav-link" href="#home">Home</a></li>
        <li><a class="header-nav-link" href="#books">Books</a></li>
        <li><a class="header-nav-link" href="#feedbacks">Feedbacks</a></li>
        <li><a class="header-nav-link" href="#events">Events</a></li>
        <li><a class="header-nav-link" href="#location">Location</a></li>
      </ul>

      <button class="menu-open-btn" type="button" id="menuOpenBtn">
        <svg class="menu-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-menu-burger"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="menu" id="mobileMenu">
    <div class="menu-container">
      <div class="menu-header">
        <svg class="logo-icon" width="80" height="24">
          <use href="./img/sprite.svg#logo"></use>
        </svg>

        <button class="menu-close-btn" type="button" id="menuCloseBtn">
          <svg class="menu-close-icon" width="24" height="24">
            <use href="./img/sprite.svg#close"></use>
          </svg>
        </button>
      </div>

      <nav class="menu-nav">
        <ul class="menu-nav-list">
          <li><a class="menu-nav-link" href="#home">Home</a></li>
          <li><a class="menu-nav-link" href="#books">Books</a></li>
          <li><a class="menu-nav-link" href="#feedbacks">Feedbacks</a></li>
          <li><a class="menu-nav-link" href="#events">Events</a></li>
          <li><a class="menu-nav-link" href="#location">Location</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
