<section class="hero">
  <div class="container">
    <div class="hero-swiper">
      <ul class="hero-swiper-wrapper">
        <li class="hero-slide">
          <picture>
            <source
              srcset="
                ./img/baner-pics/banner1-desk-min.jpg    1x,
                ./img/baner-pics/banner1-desk@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner1-tab-min.jpg    1x,
                ./img/baner-pics/banner1-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner1-mob-min.jpg    1x,
                ./img/baner-pics/banner1-mob@2x-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/baner-pics/banner1-mob-min.jpg"
              alt="banner1"
              class="banner-img"
            />
          </picture>
          <div class="banner-txt">
            <h3 class="banner-title">Get 10% off your first order</h3>
            <a href="" class="banner-btn">Shop now!</a>
          </div>
        </li>
        <li class="hero-slide">
          <picture>
            <source
              srcset="
                ./img/baner-pics/banner2-desk-min.jpg    1x,
                ./img/baner-pics/banner2-desk@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner2-tab-min.jpg    1x,
                ./img/baner-pics/banner2-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner2-mob-min.jpg    1x,
                ./img/baner-pics/banner2-mob@2x-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/baner-pics/banner2-mob-min.jpg"
              alt="banner2"
              class="banner-img"
            />
          </picture>
          <div class="banner-txt">
            <h3 class="banner-title">Save 15% on some books</h3>
            <a href="" class="banner-btn">Shop now!</a>
          </div>
        </li>
        <li class="hero-slide">
          <picture>
            <source
              srcset="
                ./img/baner-pics/banner3-desk-min.jpg    1x,
                ./img/baner-pics/banner3-desk@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner3-tab-min.jpg    1x,
                ./img/baner-pics/banner3-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner3-mob-min.jpg    1x,
                ./img/baner-pics/banner3-mob@2x-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/baner-pics/banner3-mob-min.jpg"
              alt="banner3"
              class="banner-img"
            />
          </picture>
          <div class="banner-txt">
            <h3 class="banner-title long">
              Summer Sale!<br />
              Up to -40% discounts
            </h3>
            <a href="" class="banner-btn">Shop now!</a>
          </div>
        </li>
        <li class="hero-slide">
          <picture>
            <source
              srcset="
                ./img/baner-pics/banner4-desk-min.jpg    1x,
                ./img/baner-pics/banner4-desk@2x-min.jpg 2x
              "
              media="(min-width: 1440px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner4-tab-min.jpg    1x,
                ./img/baner-pics/banner4-tab@2x-min.jpg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./img/baner-pics/banner4-mob-min.jpg    1x,
                ./img/baner-pics/banner4-mob@2x-min.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./img/baner-pics/banner4-mob-min.jpg"
              alt="banner4"
              class="banner-img"
            />
          </picture>
          <div class="banner-txt">
            <h3 class="banner-title long">
              Last chance to buy our spring bestsellers
            </h3>
            <a href="" class="banner-btn">Shop now!</a>
          </div>
        </li>
      </ul>

      <div class="under-banner">
        <div class="swipe-btns">
          <button class="hero-left-btn">
            <svg class="hero-arrow" width="14px" height="14px">
              <use href="./img/hero-icons.svg#left-arrow-icon"></use>
            </svg>
          </button>
          <button class="hero-right-btn">
            <svg class="hero-arrow" width="14px" height="14px">
              <use href="./img/hero-icons.svg#right-arrow-icon"></use>
            </svg>
          </button>
        </div>
        <h1 class="main-title">Discover Your Next Great Read Today!</h1>
      </div>
    </div>
  </div>
</section>
