<section class="location" id="location">
  <div class="container">
    <div class="text-and-contacts">
      <div class="container-text">
        <p class="locs">Location</p>
        <h2 class="section-title section-title-rew">How to find us</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <address class="contacts">
        <ul class="contact-list">
          <li class="contact-item">
            <svg
              class="icon"
              aria-hidden="true"
              focusable="false"
              width="20"
              height="17"
            >
              <use href="./img/icons.svg#icon-email"></use>
            </svg>
            <div class="contact-item-inner">
              <p class="contact-label">Email:</p>
              <a href="mailto:hello@booksy.com" class="contact-link"
                >hello@booksy.com</a
              >
            </div>
          </li>

          <li class="contact-item">
            <svg
              class="icon"
              aria-hidden="true"
              focusable="false"
              width="19"
              height="20"
            >
              <use href="./img/icons.svg#icon-contact"></use>
            </svg>
            <div class="contact-item-inner">
              <p class="contact-label">Phone:</p>
              <a href="tel:+612413043012" class="contact-link"
                >+380 12 345 6789</a
              >
            </div>
          </li>

          <li class="contact-item">
            <svg
              class="icon"
              aria-hidden="true"
              focusable="false"
              width="16"
              height="21"
            >
              <use href="./img/icons.svg#icon-local"></use>
            </svg>
            <div class="contact-item-inner">
              <p class="contact-label">Office:</p>
              <p class="contact-text">123 Books St, Sydney NSW 2000 AU</p>
            </div>
          </li>
        </ul>
      </address>
    </div>

    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1549591.822431928!2d151.707179!3d-32.917679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73155e3e7420dd%3A0x8a563884360e3fd0!2s123%20Books!5e1!3m2!1sen!2sua!4v1760388826788!5m2!1sen!2sua" width="343" height="395" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>
