<section class="location" id="location">
  <div class="container">
    <p>Location</p>

    <h2>How to find us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.</p>
    <ul>
     <li>
    <svg class="icon" width="20" hidden="17"><use href="./img/icons.svg#icon-icon"></use></svg>
    Email: <a href="mailto:info@bookstore.com">info@bookstore.com</a>
  </li>
  <li>
    <svg class="icon"  width="19" hidden="20"><use href="./img/icons.svg#icon-email-black-18dp-1"></use></svg>
    Phone: <a href="tel:+380123456789">+380 12 345 6789</a>
  </li>
  <li>
    <svg class="icon"  width="16" hidden="21"><use href="./img/icons.svg#icon-phone-black-18dp-1"></use></svg>
    Office: 123 Books St, Sydney NSW 2000 AU
  </li>
</ul>


     <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d771715.4761165517!2d150.79731548850575!3d-33.39335655888646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b73155e3e7420dd%3A0x8a563884360e3fd0!2s123%20Books!5e1!3m2!1sru!2sua!4v1760096247982!5m2!1sru!2sua"
        width="600"
        height="450"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </div>
  </div>
  
</section>






