/*Mobile styles (default) */
.article {
  padding: 64px 0px;
}

.article-text {
  margin-bottom: 32px;
}

.article-title {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 16px;
  line-height: 1.2;
}

.article-paragraf {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;

  margin-bottom: 32px;
}

.article-img img {
  width: 100%;
  height: auto;
  border-radius: 16px;
}

/* Tablet styles */
@media only screen and (min-width: 768px) {
  .article-title {
    margin-bottom: 24px;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1440px) {
  .article-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 32px;
    gap: 32px;
    max-width: 1440px;
    margin: 0 auto;
  }
  .article-text {
    width: 640px;
    gap: 24px;
    flex: 1;
  }

  .article-title {
    font-size: 40px;
    margin-bottom: 24px;
    line-height: 1.1;
  }

  .article-paragraf {
    font-size: 20px;
    line-height: 1.6;
    max-width: 600px;
  }

  .article-img {
    flex: 1;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }
  .article-img img {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
  }
}
