:root {
  /* base font-size (paragraphs) */
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-black);
  background-color: var(--background-color);

  /* base colors: */
  --color-black: #0b0500;
  --color-white: #fff;
  --background-color: #fceee6;
  --color-orange-btn: #e15d05;
  --color-hover-btn: #b44a04;
  --color-transparentDark-btn: #dad9d8;
  --color-disabled-btn: #e15d0533;
  --color-brown-active-btn: #5a2502;
  --color-orange-footer: #ea8d50;
  --color-error-message: #ad0000;
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-neutral-darkest-5: rgba(11, 5, 0, 0.05);
  --opacity-neutral-darkest-15: rgba(11, 5, 0, 0.15);
  --opacity-neutral-darkest-60: rgba(11, 5, 0, 0.6);
  --opacity-neutral-darkest-25: rgba(0, 0, 0, 0.25);
  --color-bamboo-darker: #5a2502;
  --color-bamboo-lightest: #fceee6;
  --color-bamboo: #e15d05;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}

body.menu-open {
  overflow: hidden;
}

.section-title {
  font-weight: 600;
  font-size: 36px;

  line-height: 120%;
  letter-spacing: -0.01em;
}

.section-subtitle {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
}

@media only screen and (min-width: 1440px) {
  .section-title {
    font-size: 48px;
  }
}
