.books {
  padding-top: 32px;
  width: 100%;
}

.books-header {
  margin-bottom: 24px;
}

.books-showing-count,
.books-text {
  font-size: 14px;
}

.books-categories {
  max-width: 343px;
  width: 100%;
  position: relative;
  /* width: fit-content; */
}

.books-info-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.books-categories-btn,
.books-show-more-btn {
  width: 100%;
  height: 43px;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 18px 8px 12px;
  background: rgba(11, 5, 0, 0.05);
  color: var(--color-black);
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.arrow-icon {
  border: solid var(--color-black);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: transform 0.3s ease;
}

.books-categories-btn.is-open .arrow-icon {
  transform: rotate(-135deg);
}

.books-categories-menu {
  display: none;
  position: absolute;
  background: var(--background-color);
  background-image: linear-gradient(rgba(11, 5, 0, 0.05), rgba(11, 5, 0, 0.05));
  width: 100%;
  z-index: 999;
  border: 1px solid rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  height: 296px;
  overflow-y: auto;
  top: 100%;
  left: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  margin-top: 4px;
}

.books-categories-menu.is-open {
  display: block;
  opacity: 1;
  visibility: visible;
}

.books-categories-menu {
  display: none;
}

.books-categories-list::-webkit-scrollbar {
  width: 3px;
}

.books-categories-list {
  max-height: 280px;
  overflow-y: auto;
}

.books-categories-list-link {
  padding: 8px 12px;
  display: block;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .books-categories-list-link:hover {
  background-color: #e0e0e0;
}

.books-categories-list-link.active {
  background-color: rgba(11, 5, 0, 0.05);
} */

.books-categories-list::-webkit-scrollbar {
  width: 3px;
  height: 280px;
}

.books-categories-list::-webkit-scrollbar-track {
  background: rgba(11, 5, 0, 0.15);
  border-radius: 4px;
  padding: 8px 13px;
}

.books-categories-list::-webkit-scrollbar-thumb {
  background-color: var(--color-orange-btn);
  border-radius: 4px;
  width: 5px;
  height: 47px;
}

.books-categories-list::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-hover-btn);
}

.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.books-card {
  max-width: 343px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.books-info {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 16px;
  flex-grow: 1;
}

.books-card-img {
  height: 488px;
  border-radius: 8px;
  margin-bottom: 16px;
  gap: 16px;
}

.books-info-left {
  min-width: 0;
}

.books-h {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.books-price-text {
  font-size: 20px;
  font-weight: 600;
}

.learn-more-btn {
  height: 40px;
  padding: 8px 20px;
  background: transparent;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  color: var(--color-black);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.books-show-more-btn {
  height: 48px;
  border: none;
  padding: 12px 24px;
  background: var(--color-orange-btn);
  color: var(--color-white);
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms ease-in-out;
  margin-top: 24px;
}

.show-more-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .books-header {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-bottom: 32px;
  }

  .books-info-top {
    margin-bottom: 0;
    width: 100%;
  }

  .books-categories {
    max-width: 249px;
  }

  .books-list {
    gap: 40px 24px;
  }

  .books-card {
    width: calc((100% - 24px) / 2);
  }

  .books-show-more-btn {
    width: 342px;
    margin: 24px auto 0;
  }
}

@media screen and (min-width: 1440px) {
}
