.book-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--opacity-neutral-darkest-25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow-y: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.book-modal-backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
}

/* Стилі для модального вікна */
.book-modal {
  position: relative;
  width: 100%;
  max-width: 343px;
  max-height: calc(100vh - 64px);
  background-color: var(--background-color);
  border-radius: 16px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  padding: 64px 16px;
  overflow-y: auto;
  opacity: 0;
  transform: scale(0.9);
}

.book-modal-backdrop.is-open .book-modal {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
}

/* Стилі для кнопки закриття */
.book-modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-modal-close-icon {
  fill: var(--color-black);
}

.book-modal-close-icon:hover,
.book-modal-close-icon:focus {
  fill: var(--color-black);
  opacity: 0.6;
  transform: scale(0.9);
}
*/

/* Стилі для контенту книги */
.book-modal-details-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;
}

.book-modal-img {
  width: 100%;
  max-width: 309px;
  height: 467px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.book-modal-title {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-black);
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.book-modal-author {
  font-size: 14px;
  margin-bottom: 8px;
}

.book-modal-price {
  font-size: 24px;
  color: var(--color-black);
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

/* Стилі для форми замовлення */
.book-modal-order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 32px;
}

.quantity-selector {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.quantity-btn {
  background: transparent;
  border: 1px solid var(--color-black);
  border-radius: 4px;
  width: 32px;
  height: 40px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  transition: background-color 300ms ease;
}

.quantity-btn:hover {
  background-color: var(--color-orange-footer);
}

.quantity-input {
  background-color: var(--opacity-neutral-darkest-5);
  width: 42px;
  text-align: center;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 4px;
  outline: none;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
}

.quantity-input::-webkit-outer-spin-button,
.quantity-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.add-to-cart-btn,
.buy-now-btn {
  max-width: 311px;
  width: 100%;
  height: 48px;
  padding: 12px 24px;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 300ms ease-in-out, opacity 300ms ease-in-out;
}

.add-to-cart-btn {
  background-color: var(--color-orange-btn);
  color: var(--color-white);
  border: none;
  margin-bottom: 24px;
}

.add-to-cart-btn:hover,
.add-to-cart-btn:focus {
  background-color: var(--color-black);
}

.add-to-cart-btn:active {
  background-color: var(--color-hover-btn);
}

.add-to-cart-btn:disabled {
  background-color: var(--color-black);
  opacity: 0.2;
}

.buy-now-btn {
  background-color: transparent;
  color: var(--color-black);
  border: 1px solid var(--color-black);
}

.buy-now-btn:hover,
.buy-now-btn:focus {
  background-color: var(--color-orange-footer);
}

.buy-now-btn:active {
  background-color: var(--color-transparentDark-btn);
}

.buy-now-btn:disabled {
  opacity: 0.2;
}

/* Акордіон */
.book-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.book-modal-content .books-arrow-icon {
  width: 24px;
  height: 24px;
}

.ac.is-active > .ac-header .ac-trigger .books-arrow-icon {
  transform: rotate(180deg);
}

.book-modal-content .ac.is-active > .ac-header .ac-trigger::after,
.book-modal-content .ac > .ac-header .ac-trigger::after {
  content: '';
}

.book-details-accordion-container {
  border-bottom: 1px solid var(--opacity-neutral-darkest-15);
}

.book-modal-content .ac {
  border: none;
  border-top: 1px solid var(--opacity-neutral-darkest-15);
  background-color: var(--background-color);
  margin-bottom: 0;
}

.book-modal-content .ac .ac-trigger {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: inherit;
  font-size: 18px;
  padding: 16px 0;
  width: 100%;
}

.book-modal-content .ac .ac-trigger:focus {
  color: var(--color-black);
}

.book-modal-content .ac .ac-panel .ac-text {
  font-family: inherit;
  font-size: 16px;
  padding: 0 0 24px 0;
}

@media screen and (min-width: 768px) {
  .book-modal-details-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 0;
  }

  .book-modal {
    max-width: 704px;
    padding: 64px 32px;
  }

  .book-modal-img {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1440px) {
  .book-modal {
    max-width: 1300px;
    padding: 64px 104px;
  }

  .book-modal-buttons {
    display: flex;
    gap: 24px;
  }

  .add-to-cart-btn {
    margin: 0;
  }
}
