.section-name {
  margin-bottom: 15px;
}

.events-text {
  margin-bottom: 32px;
}

.events-image img {
  border-radius: 16px;
  width: 342px;
  height: 277px;
  margin-bottom: 24px;
}

.events-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  width: 100%;
}

.events-description {
  font-size: 24px;
  line-height: 1.4;
}

.event-meta {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.event-location {
  font-size: 16px;
}

.events-content {
  font-weight: 400;
  font-size: 16px;
}

.event-location::after {
  content: '';
  display: inline-block;
  height: 14px;
  background-color: var(--text-main-color);
}

.events-btn {
  display: flex;
  gap: 8px;
  align-items: center;
  border: none;
  width: 95px;
  height: 32px;
  padding: 8px 0 8px 0;
  background-color: transparent;
}

.event-register-btn:hover {
  background-color: transparent;
}

.event-register-btn .icon-chevron-right {
  transition: transform 0.3s ease;
}

.event-register-btn:hover .icon-chevron-right {
  transform: translateX(3px);
}

.events-controls-wrapper {
  position: relative;
  height: 48px;
  margin-top: 56px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: cente;
}

.ev-pagination {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin: 32px 0 0;
}

.ev-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ev-dot--active {
  background-color: #010101;
}

.svg {
  fill: white;
}

.events-buttons-wrapper {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 16px;
  z-index: 2;
}

.events-swiper-btn-prev,
.events-swiper-btn-next {
  width: 48px;
  height: 48px;
  background-color: #e15d05;
}

@media screen and (min-width: 768px) {
  .events-image img {
    width: 340px;
  }

  .events-text {
    width: 560px;
  }
}

@media screen and (min-width: 1440px) {
  .events-title {
    font-size: 48px;
  }

  .events-image img {
    width: 421px;
  }

  .events-controls-wrapper {
    display: none;
  }

  .events-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .events-item {
    flex: 1;
  }
}
