.footer {
  background-color: var(--color-orange-footer);
  color: var(--color-black);
  border: 1px solid #000;
}
/* content */
.content {
  margin: 80px 0;
}
.footer-nav {
  width: 84px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
}
.footer-logo {
  display: block;
  align-content: center;
  height: 36px;
  margin-bottom: 32px;
}
.footer-logo-img {
  width: 83px;
  height: 21px;
  margin: 0 auto;
}
.footer-menu {
  display: flex;
  flex-direction: column;
  width: 73px;
  margin: 0 auto;
  gap: 32px;
}
.footer-nav-link {
  text-align: center;
  font-size: 16px;
}
/* join-form */
.join-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 16px;
}
.form {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}
.join-input {
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 4px;
  padding: 12px;
  width: 221px;
  height: 48px;
  background: var(--opacity-neutral-darkest-5);
}
.join-input::placeholder {
  font-size: 16px;
  color: var(--opacity-neutral-darkest-60);
}
.join-btn {
  border: 1px solid var(--color-black);
  border-radius: 4px;
  width: 106px;
  height: 48px;
  font-size: 16px;
  color: var(--color-black);
  background-color: inherit;
}
.required {
  font-size: 12px;
}
.divider {
  border: 0;
  border-top: 1px solid var(--opacity-white-20);
  width: 343px;
  height: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.divider {
  max-width: 100%;
}

/* credits */
.credits {
  padding-top: 32px;
  margin-bottom: 80px;
}
.text-muted {
  font-size: 14px;
  text-align: center;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  .footer {
    border: none;
    box-shadow: none;
  }
  .footer-nav {
    width: 324px;
  }
  .footer-menu {
    flex-direction: row;
    width: 324px;
  }
  .join-form {
    width: 400px;
    margin: 0 auto;
  }
  .join-input {
    width: 278px;
  }
  .divider {
    width: 640px;
  }
}

@media only screen and (min-width: 1440px) {
  .content {
    display: flex;
    flex-direction: row;
  }
  .footer-nav {
    margin-bottom: 26px;
    margin: 0;
  }
  .footer-logo-img {
    display: block;
    margin: 0;
  }
  .join-form {
    margin: 0;
  }
  .content {
    justify-content: space-between;
  }
  .divider {
    width: 1312px;
  }
}
