/* ------------------ Header container ------------------ */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px 0 20px;
}

@media screen and (min-width: 768px) {
  .header-container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .header-container {
    padding: 0 64px;
  }
}

/* ------------------ Header ------------------ */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 36px;
}

.logo-icon {
  width: 83px;
  height: 21px;
  fill: #010101;
}

.header-logo {
  height: 64px;
  padding: 14px 0;
}

.header-nav-list {
  display: none;
}

.header-nav-link {
  color: var(--color-black);
  font-weight: 500;
  font-size: 20px;
  transition: opacity 300ms ease-in-out;
}

.header-nav-link:hover,
.header-nav-link:focus {
  opacity: 0.8;
}

/* ------------------ Burger Button ------------------ */
.menu-button,
.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: transform 300ms ease-in-out;
}

.menu-button:active,
.menu-close-btn:active {
  transform: scale(0.9);
}

.menu-icon,
.menu-close-icon {
  fill: var(--color-black);
  transition: opacity 300ms ease-in-out;
}

/* ------------------ Tablet/Desktop ------------------ */
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }

  .header-logo {
    height: 72px;
    padding: 16px 0;
  }

  .header-nav-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    padding: 24px 0;
  }

  .header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
}

/* ------------------ Mobile Menu ------------------ */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  overflow: auto;
}

.menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  padding: 80px 16px 43px;
}

.menu-header {
  position: absolute;
  top: 0;
  right: 12px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.menu-nav {
  margin-bottom: auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* ------------------ Tablet/Desktop Mobile Menu ------------------ */
@media screen and (min-width: 768px) {
  /* .menu-container {
    padding: 96px 32px 128px;
  } */

  .menu {
    display: none;
  }

  /* .menu-header {
    right: 16px;
    left: 32px;
  } */
}
