.location .container {
  display: flex;
  flex-direction: column;
}

.text-and-contacts {
  margin-bottom: 32px;
}

.locs {
  margin-bottom: 16px;
}

.container-text {
  margin-bottom: 32px;
}

.section-title-rew {
  font-size: 48px;
  margin-bottom: 24px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-item {
  display: flex;
  gap: 16px;
}

.contact-label {
  font-size: 20px;
  margin-bottom: 8px;
}

.icon {
  stroke: var(--color-black);
  width: 24px;
  height: 24px;
}

.contact-link {
  font-size: 16px;
  text-decoration: underline;
}
.contact-text {
  font-size: 16px;
  cursor: pointer;
}

.map-container {
  max-width: 343px;
  width: 100%;
  height: 395px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
}

.location {
  padding: 64px 0;
}

.contact-link {
  transition: opacity 300ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .text-and-contacts {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin-bottom: 80px;
  }

  .location .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .location-text {
    width: 336px;
  }

  .text {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
  }

  .text-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
  }

  .map-container {
    max-width: 704px;
    height: 395px;
    align-self: flex-start;
  }
}

@media screen and (min-width: 1440px) {
  .text-and-contacts {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 80px;
  }

  .container-text {
    width: 100%;
  }

  .location-text {
    width: 732px;
  }

  .contact-list {
    width: 100%;
  }

  .location .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .text {
    font-weight: 600;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
  }

  .text-list {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
  }

  .map-container {
    max-width: 1312px;
    height: 738px;
    align-self: flex-start;
  }
}
