/*  ===Contact Modal===  */

body.no-scroll {
  overflow: hidden;
}

/* Backdrop */
.backdrop {
  position: fixed;
  inset: 0;
  background-color: var(--opacity-neutral-darkest-25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
  z-index: 1000;
  pointer-events: none;
  display: none;
}

.backdrop.is-open {
  display: flex;
  pointer-events: auto;
}

/* Modal */
.modal {
  background-color: #fceee6;
  border-radius: 16px;
  width: 100%;
  max-width: 343px;
  padding: 64px 16px;
  box-shadow: 0 8px 24px var(--opacity-neutral-darkest-15);
  box-sizing: border-box;
  position: relative;
}

/* Close button */
.modal-close {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Titles */
.modal-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 16px;
}

.event-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 48px;
}

/* Form */

.modal-form label {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  color: var(--color-black);
  margin-bottom: 24px;
}

.modal-form input {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-black);
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 4px;
  background-color: var(--opacity-neutral-darkest-5);
  outline: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.modal-form textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0b0500;
  width: 100%;
  min-height: 120px;
  resize: vertical;
  padding: 12px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 4px;
  background-color: var(--opacity-neutral-darkest-5);
  outline: none;
  transition: border-color 0.3s, color 0.3s;
}

.modal-form input::placeholder,
.modal-form textarea::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--opacity-neutral-darkest-60);
}

.modal-form input::placeholder:focus {
  color: transparent;
}

/* Hover & focus  */
.modal-form input:focus::placeholder,
.modal-form textarea:focus::placeholder {
  color: transparent;
}

/* Active */
.modal-form textarea:active,
.modal-form textarea:focus {
  border-color: var(--opacity-neutral-darkest-60);
}

/* Error state */
.modal-form input.error,
.modal-form textarea.error {
  border-color: var(--color-error-message);
  color: var(--color-error-message);
}

.modal-form input.error::placeholder,
.modal-form textarea.error::placeholder {
  color: var(--color-error-message);
  opacity: 1;
}

.error-text {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-error-message);
  min-height: 20px;
  margin-top: 4px;
}

/* Button */
.modal-form button {
  display: block;
  font-size: 16px;
  color: #fff;
  background-color: var(--color-orange-btn);
  border-color: transparent;
  border-radius: 4px;
  padding: 12px 24px;
  width: 100%;
  max-width: 342px;
  height: 48px;
  will-change: transform;
  margin: 0 auto;
  transition: background-color 300ms ease-in-out, transform 300ms ease-in-out;
}

.modal-form button:hover,
.modal-form button:focus {
  background-color: var(--color-black);
}

.modal-form button:active {
  background: var(--color-hover-btn);
  transform: scale(0.98);
}

/* Media Queries */

/* Tablet 768px+ */
@media screen and (min-width: 768px) {
  .modal {
    max-width: 704px;
    padding: 64px 32px;
  }
}

/* Desktop 1440px+ */
@media screen and (min-width: 1440px) {
  .modal {
    max-width: 866px;
    padding: 64px;
  }
}
